body {
    background-color: aqua;
}

h1 {
    text-align: center;
}

div#mouse-event{
    background-color: blue;
    color: azure;
    width: 10rem;
    text-align: center;
    padding-left: 50%;
}

.resort-card {
    text-align: center;
    border: black 1px;
    padding: 1rem;
    width: 15rem;
    height: 35rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px green;
    background-color: white ;
  }

img.resort-card {
    max-width: 100px;
    max-height: 100px;
}

div {
    text-align: center;
}